* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slider {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-slider {

  display: flex;
  align-items: center;
  justify-content: center;
}

.arrows {
  margin: 0 30px;
  font-size: 50px;
  cursor: pointer;
}

.slider-navigation {
  margin-top: 15px;
  cursor: pointer;
}

.slider-navigation i {
  color: lightblue;
  margin: 0 20px;
}

.slider-navigation i.active {
  color: blue;
}
